<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="logfileGeneral" xsi:type="File"  fileName="${basedir}/logs/${shortdate}_General.log"
	layout="${longdate} ${uppercase:${level}} ${logger}: ${message}" overwrite="true" />
		<target name="logfileMarkedObsoleteRaps" xsi:type="File"  fileName="${basedir}/logs/${shortdate}_MarkedObsoleteRaps.log"
			layout="${longdate} ${uppercase:${level}} ${logger}: ${message}" overwrite="true" />
		<target name="logfileSynchronizedLocalGroups" xsi:type="File"  fileName="${basedir}/logs/${shortdate}_SynchronizedLocalGroups.log"
			layout="${longdate} ${uppercase:${level}} ${logger}: ${message}" overwrite="true" />
		<target name="logfileSynchronizedRAPs" xsi:type="File"  fileName="${basedir}/logs/${shortdate}_SynchronizedRAPs.log"
			layout="${longdate} ${uppercase:${level}} ${logger}: ${message}" overwrite="true" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" />
	</rules>
</nlog>